/*Стиль для таблицы*/
table.pricelist th, table.pricelist td{
	border: grey thin solid;
	padding: 4px;
}

table.pricelist thead th {
	color: white;
	background-color: grey;
}

table.pricelist tfoot th{
	font-style: italic;
	text-align: right;
}

table.pricelist th:first-of-type {
	text-align: center;
}

table.pricelist td:last-child:not(:only-child) {
	background-color: lightgray;
	border: none;
}